* {
  padding: 0;
  margin: 0;
}

.colorbox {
  border: black 3px solid;
  border-radius: 20px;
  width: 20rem;
  height: 20rem;
  margin: auto;
  margin-top: 6rem;
}

input {
  border: black 2px solid;
  border-radius: 20px;
  width: 20rem;
  height: 5rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  font-size: xx-large;
}

label {
  display: none;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8rem;
  font-size: xx-large;
}
